@charset "UTF-8";
	.mz-btn,.mz-input {
	-webkit-transition:.5s all;
	transition:.5s all
}
@font-face {
	font-family:order-font;
	src:url(../font/iconfont-4ef5ad7138.eot);
	src:url(../font/iconfont-4ef5ad7138.eot#iefix) format("embedded-opentype"),url(../font/iconfont-de02d0733f.woff) format("woff"),url(../font/iconfont-4c351190fd.ttf) format("truetype"),url(../font/iconfont-198954feaf.svg#iconfont) format("svg")
}
.order-font {
	font-family:order-font!important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-webkit-text-stroke-width:.2px;
	-moz-osx-font-smoothing:grayscale
}
.order-font.payment-success:before {
	content:"\E600"
}
.order-font.reflash:before {
	content:"\E654"
}
.order-header {
	zoom:1;
	height:74px;
	margin-top:10px;
	line-height:74px;
	background-color:#fff
}
.order-header:after,.order-header:before {
	content:" ";
	display:table
}
.order-header:after {
	content:" ";
	clear:both;
	height:0;
	visibility:hidden;
	display:block
}
.order-header .order-header-title {
	float:left;
	font-size:24px;
	margin-left:45px
}
.order-header .order-header-bread {
	float:right;
	margin-right:60px
}
.order-header .order-header-bread .order-header-bread-block {
	float:left;
	font-size:14px;
	color:#999
}
.order-total .order-total-price,.order-total .order-total-row.order-total-valid-row .mz-btn {
	float:right
}
.order-header .order-header-bread .order-header-bread-block:after {
	content:'>';
	margin:0 10px
}
.order-header .order-header-bread .order-header-bread-block:last-child:after {
	content:'';
	margin:0
}
.order-header .order-header-bread .order-header-bread-block.active {
	color:#00c3f5
}
.order {
	background-color:#F5F5F5
}
.order *,.order:after,.order:before {
	box-sizing:border-box
}
.order-total {
	overflow:hidden;
	margin:10px auto 38px;
	padding:30px;
	color:#898989;
	background-color:#FFF
}
.order-total .order-total-content {
	float:right;
	width:318px
}
.order-total .order-total-row {
	padding:0 2px;
	margin-bottom:20px
}
.order-total .order-total-row.order-total-valid-row {
	font-size:0;
	margin-bottom:5px;
	padding-right:0
}
.order-total .order-total-row.order-total-row-tips {
	height:20px;
	color:#e02b41;
	font-size:12px
}
.order-total .order-total-discount {
	display:none
}
.order-total .order-total-price:before {
	content:"\FFE5"
}
.order-total .order-total-price.sub {
	color:#e02b41
}
.order-total .order-total-price.sub:before {
	content:"-\FFE5"
}
.order-total .order-total-price.total {
	color:#e02b41;
	font-size:20px;
	font-weight:bolder
}
.order-total .order-total-line {
	width:100%;
	height:1px;
	background-color:#EFEFEF;
	margin-bottom:20px
}
.order-total .order-total-valid-input {
	font-size:12px;
	width:196px;
	height:30px;
	border:1px solid #EFEFEF;
	background-color:#fff;
	outline:0;
	padding:0 10px;
	margin-right:0
}
.order-total .order-total-valid-image {
	cursor:pointer;
	width:80px;
	height:30px
}
.order-total .order-total-tips {
	color:#e02b41
}
.order-total .order-total-tips:before {
	content:"*"
}
.order-total .order-total-valid {
	position:relative;
	float:left;
	width:200px;
	margin-right:14px
}
.order-total .order-total-valid .mz-captcha-input {
	position:absolute;
	left:0;
	top:0;
	width:210px
}
.order-total .order-total-submit-row {
	text-align:right
}
.mz-mask {
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(0,0,0,.4);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#65000000,endColorstr=#65000000);
	z-index:9999
}
.mz-dialog {
	position:absolute;
	width:500px;
	min-height:240px;
	border-radius:4px;
	overflow:hidden;
	line-height:normal;
	background-color:#FFF;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-120px
}
.mz-dialog .mz-dialog-header {
	position:relative;
	height:50px;
	color:#333;
	line-height:50px;
	text-align:center;
	border-bottom:1px solid #EFEFEF;
	font-size:18px;
	font-weight:bolder;
	border-radius:4px 4px 0 0
}
.mz-dialog .mz-dialog-header .mz-dialog-close {
	position:absolute;
	right:26px;
	top:18px;
	width:15px;
	height:15px;
	color:#BDBDBD;
	cursor:pointer;
	-webkit-transition:.5s all;
	transition:.5s all
}
.mz-dialog .mz-dialog-header .mz-dialog-close:hover {
	color:#EFEFEF
}
.mz-dialog .mz-dialog-header .mz-dialog-close:after {
	position:absolute;
	content:'';
	left:0;
	top:0;
	width:15px;
	height:15px;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAJ1BMVEUAAAC2tra2trbHx8e2tra3t7e2tra1tbW2tra3t7e5ubm3t7e1tbUT/4dnAAAADHRSTlMA1BUHvSfm3bJDFmCH7ULuAAAAYUlEQVQIHQXBIRICIQAAwB1oRsYmAcYPXOAZBILJZuAxzth9DwXLPcpdj4L4pie036GuIvZJyEnbA3Xd+4RLvu4B6jmBdiYQ+2sVaPuZE2Kf6iq0PYSc+EzUdfgOhBsRHP6yIRShHQi/pQAAAABJRU5ErkJggg==);
	font-weight:bolder
}
.mz-dialog .mz-dialog-content {
	display:table;
	padding:30px;
	min-height:64px;
	word-break:break-all;
	word-wrap:break-word;
	width:440px
}
.mz-dialog .mz-dialog-content .mz-dialog-content-main {
	display:table-cell;
	vertical-align:middle;
	color:#999;
	font-size:14px;
	line-height:22px
}
.mz-dialog .mz-dialog-content .mz-dialog-content-title {
	color:#333;
	font-size:18px;
	text-align:center
}
.mz-btn,.mz-captcha-input {
	font-size:14px;
	cursor:pointer
}
.mz-dialog .mz-dialog-bottom {
	margin-bottom:30px;
	width:100%;
	text-align:center
}
.mz-dialog .mz-dialog-bottom .mz-btn {
	margin-right:10px
}
.mz-dialog .mz-dialog-bottom .mz-btn:last-child {
	margin-right:0
}
.mz-dialog.dialog .mz-dialog-content-main,.mz-dialog.tips .mz-dialog-content-main {
	text-align:center
}
.mz-dialog.msg {
	width:790px;
	height:586px;
	margin-left:-395px;
	margin-top:-293px
}
.mz-dialog.msg .mz-dialog-content {
	display:block;
	height:455px;
	width:590px;
	padding:40px 100px;
	overflow:auto
}
.mz-dialog.msg:after,.mz-dialog.msg:before {
	display:block;
	width:100%;
	left:0;
	position:absolute;
	height:40px;
	content:''
}
.mz-dialog.msg:before {
	top:51px;
	background:-webkit-linear-gradient(bottom,rgba(255,255,255,.2),#fff 90%);
	background:linear-gradient(bottom,rgba(255,255,255,.2),#fff 90%);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFFFF,endColorstr=#00FFFFFF);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFFFF,endColorstr=#00FFFFFF)
}
.mz-dialog.msg:after {
	bottom:0;
	background:-webkit-linear-gradient(top,rgba(255,255,255,.2),#fff 90%);
	background:linear-gradient(top,rgba(255,255,255,.2),#fff 90%);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00FFFFFF,endColorstr=#FFFFFFFF);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00FFFFFF,endColorstr=#FFFFFFFF)
}
.mz-btn,.mz-captcha-input,.mz-captcha-shield,.mz-loading {
	display:inline-block
}
.mz-loading-mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9999;
	background-color:rgba(0,0,0,.4);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#65000000,endColorstr=#65000000)
}
.mz-loading {
	position:absolute;
	left:50%;
	top:50%;
	width:100px;
	height:40px;
	margin-left:-50px;
	margin-top:-20px;
	text-align:center;
	line-height:40px
}
.mz-loading.image {
	background-image:url(../img/loading-b50af49b41.gif);
	background-position:center
}
.mz-loading.spinner .mz-bounce {
	width:20px;
	height:20px;
	margin-right:10px;
	background-color:#00c3f5;
	border-radius:100%;
	display:inline-block;
	vertical-align:middle;
	-webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
	animation:sk-bouncedelay 1.4s infinite ease-in-out both
}
.mz-loading.spinner .mz-bounce:last-child {
	margin-right:0
}
.mz-loading.spinner .mz-bounce1 {
	-webkit-animation-delay:-.32s;
	animation-delay:-.32s
}
.mz-loading.spinner .mz-bounce2 {
	-webkit-animation-delay:-.16s;
	animation-delay:-.16s
}
@-webkit-keyframes sk-bouncedelay {
	0%,100%,80% {
	-webkit-transform:scale(0)
}
40% {
	-webkit-transform:scale(1)
}
}@keyframes sk-bouncedelay {
	0%,100%,80% {
	-webkit-transform:scale(0);
	transform:scale(0)
}
40% {
	-webkit-transform:scale(1);
	transform:scale(1)
}
}.mz-btn {
	border-style:solid;
	border-width:1px;
	border-radius:4px;
	outline:0;
	text-align:center;
	vertical-align:middle;
	min-width:98px;
	min-height:34px;
	line-height:34px
}
.mz-btn.primary {
	color:#00c3f5;
	border-color:#00c3f5;
	background-color:#fff
}
.mz-btn.primary:hover {
	color:#40D2F8;
	border-color:#40D2F8
}
.mz-btn.primary:active {
	color:#08AEE2;
	border-color:#08AEE2
}
.mz-btn.success {
	color:#FFF;
	border-color:#00c3f5;
	background-color:#00c3f5
}
.mz-btn.success:hover {
	border-color:#40D2F8;
	background-color:#40D2F8
}
.mz-btn.success:active {
	border-color:#08AEE2;
	background-color:#08AEE2
}
.mz-btn.warning {
	color:#FFF;
	border-color:#F66567;
	background-color:#F66567
}
.mz-btn.warning:hover {
	border-color:#FF8284;
	background-color:#FF8284
}
.mz-btn.warning:active {
	border-color:#DA5658;
	background-color:#DA5658
}
.mz-btn.cancel {
	color:#999;
	border-color:#EFEFEF;
	background-color:#EFEFEF
}
.mz-btn.cancel:hover {
	border-color:#F6F6F6;
	background-color:#F6F6F6
}
.mz-btn.cancel:active {
	border-color:#DFDFDF;
	background-color:#DFDFDF
}
.mz-btn.xs {
	min-width:68px;
	min-height:22px;
	line-height:22px
}
.mz-btn.m,.mz-btn.s {
	min-height:34px;
	line-height:34px
}
.mz-btn.s {
	min-width:88px
}
.mz-btn.m {
	min-width:98px
}
.mz-btn.l {
	min-width:128px;
	min-height:38px;
	line-height:38px
}
.mz-btn.xl {
	min-width:158px;
	min-height:44px;
	line-height:44px
}
.mz-captcha-shield {
	position:relative;
	vertical-align:sub;
	width:16px;
	height:16px;
	border-radius:100%;
	background-color:#00c3f5
}
.mz-captcha-shield:after,.mz-captcha-shield:before {
	position:absolute;
	content:'';
	left:3px;
	top:6px;
	width:0;
	height:0;
	border-top:6px solid #FFF;
	border-left:3px solid transparent;
	border-right:9px solid transparent;
	-webkit-transform:rotate(-15deg);
	transform:rotate(-15deg);
	border-radius:50px
}
.mz-captcha-input,.mz-captcha-open {
	width:318px;
	background-color:#FFF;
	outline:0
}
.mz-captcha-shield:after {
	top:4px;
	border-top-color:#00c3f5
}
.mz-captcha-input {
	vertical-align:middle;
	height:36px;
	color:#999;
	line-height:36px;
	text-indent:10px;
	border:1px solid #EFEFEF;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.mz-captcha-input.focus {
	color:#666;
	border-color:#BDBDBD
}
.mz-captcha-input.validated {
	color:#666
}
.mz-captcha-input .mz-captcha-shield {
	margin-right:5px;
	color:transparent
}
.mz-captcha-open {
	position:absolute;
	border:1px solid #BDBDBD;
	color:#666;
	box-shadow:2px 3px 5px rgba(0,0,0,.2)
}
.mz-captcha-open .mz-captcha-open-top {
	zoom:1;
	width:300px;
	margin:10px auto;
	line-height:35px
}
.mz-captcha-open .mz-captcha-open-top:after,.mz-captcha-open .mz-captcha-open-top:before {
	content:" ";
	display:table
}
.mz-captcha-open .mz-captcha-open-top:after {
	content:" ";
	clear:both;
	height:0;
	visibility:hidden;
	display:block
}
.mz-captcha-open .mz-captcha-tips {
	float:left;
	font-size:12px
}
.mz-captcha-open .mz-captcha-tips.error {
	color:#e02b41
}
.mz-captcha-open .mz-captcha-read {
	position:relative;
	float:right;
	width:115px;
	height:35px;
	overflow:hidden
}
.mz-captcha-open .mz-captcha-read .mz-captcha-img {
	position:absolute;
	bottom:0;
	left:0;
	width:210px
}
.mz-captcha-open .mz-captcha-open-center {
	position:relative;
	width:300px;
	height:154px;
	margin:0 auto;
	overflow:hidden
}
.mz-captcha-open .mz-captcha-click-box,.mz-captcha-open .mz-captcha-click-img,.mz-captcha-open .mz-captcha-click-img .mz-captcha-img {
	width:100%;
	left:0;
	top:0;
	position:absolute
}
.mz-captcha-open .mz-captcha-click-img {
	height:100%;
	z-index:1
}
.mz-captcha-open .mz-captcha-click-box {
	height:100%;
	z-index:2;
	overflow:hidden;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=)
}
.mz-captcha-open .mz-captcha-click-box .mz-captcha-click-point {
	position:absolute;
	width:40px;
	height:40px;
	border-radius:4px;
	cursor:pointer;
	background-color:rgba(0,0,0,.3);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#4B000000,endColorstr=#4B000000)
}
.mz-captcha-open .mz-captcha-click-box .mz-captcha-click-point:after {
	content:attr(data-index);
	position:absolute;
	left:5px;
	top:5px;
	width:26px;
	height:26px;
	border-radius:100%;
	border:2px solid #fff;
	text-align:center;
	line-height:26px;
	color:#fff;
	font-size:16px
}
.mz-captcha-open .mz-captcha-open-bottom {
	zoom:1;
	width:300px;
	margin:10px auto;
	line-height:36px
}
.mz-captcha-open .mz-captcha-open-bottom:after,.mz-captcha-open .mz-captcha-open-bottom:before {
	content:" ";
	display:table
}
.mz-captcha-open .mz-captcha-open-bottom:after {
	content:" ";
	clear:both;
	height:0;
	visibility:hidden;
	display:block
}
.mz-captcha-open .mz-captcha-reload,.mz-input,.mz-input-warp {
	display:inline-block;
	vertical-align:middle
}
.mz-captcha-open .mz-captcha-reload {
	width:30px;
	height:26px;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAACqElEQVRIx63WX4hVVRTH8c8dp6AEwf5CkPTYWFkYDZIU1pJeeygICsJMi/IPihAk/ZlSCoL+MKGBTD6Yj+WzoMsgMUlhoLSmF18KoSiDpF4yq4ez77C5zR2P9/qDA/usvfb+3r3uWWvtjpbKzLvxAB7GGG7AApzDDA7j84g41Wa/TkvgJjzb8jfuwWREfDswODMfKxtd1zYyRb/g5Yj4uJ/DyCU2eKMHehKvYDWWlmcVtmO68rsRU5m5Y9ATT2AbzuJt7IuIf/v4dvA03sSSamprRHxwWeCy4QrMRMTvbWKcmbfiU4wX0194MCK+mhecmQsi4mIbyDzwRTiCe4vpS6yKiAtdn5GeBTtKqIZSRJzHC+W0cD8eqX1mwZk5pvlwXirjYeEnMVmZ1v0PnJmjldMoJjPzqmHh+AR/lvHKzLyp98TrNCnS1WqsvQLg05oUpKl0K2fBmbkMu+dY9FGpWgMrIv7B1+W1g9kTj+IJnMH1WFzsv2lq8JPVwtYqOb0Uf+DaauqOzLwNC0ewt4RgX+Wwv9j2DHHg53GsHKyrZ4ptzWweZ+aL2FVe34uIbcOEufyF05oOVusCltd5/BO65XB5CdfAiohvsGGOqU0RcboGH8OvZTyOZcOAi/Zq+nRXhzBFVUAi4mdNaaP5IJ4allpK5Gb8XUybu+W4ty1OVeONmXnPFYDP4B3sjIjvu/Ze8EF8UcbXaHrqomHheC0iXq0Nc3WncRzF1cV0Ao9HxI9tCJm5GLdHxPH5/Dp9Fm/B+5XpB00D2d/iIrAdt+DdiJi4LHDZaAKv95in8RmOa9JPgazAo7iv8j0VEX0z41JXn7V4Cze3CXOlc3guIg4MBC7wMWzF+pbQKXxYCkhfta5OmXkXHirPnZo2d1FTdL7TXHWORkSrpvIfM/DSPlbOeQsAAAAASUVORK5CYII=);
	background-repeat:no-repeat;
	cursor:pointer
}
.mz-captcha-open .mz-btn {
	float:right
}
.mz-input {
	outline:0;
	border:1px solid #EFEFEF;
	width:178px;
	height:36px;
	padding:0 10px;
	color:#666;
	background-color:#FFF
}
.mz-input:-moz-placeholder,.mz-input:-ms-input-placeholder,.mz-input::-moz-placeholder,.mz-input::-webkit-input-placeholder {
	color:#F5F5F5
}
.mz-input:hover {
	border-color:#BDBDBD
}
.mz-input:active,.mz-input:focus {
	border-color:#00c3f5
}
.mz-input-warp {
	position:relative
}
.mz-input-warp .mz-input-tips,.mz-input-warp:after {
	display:none;
	position:absolute;
	bottom:-17px;
	left:2px;
	color:#e02b41;
	font-size:12px;
	line-height:normal
}
.mz-input-warp:after {
	content:attr(data-tips)
}
.mz-input-warp.tips .mz-input-tips,.mz-input-warp.tips:after {
	display:block
}
.mz-input-warp.tips .mz-input {
	color:#e02b41;
	border-color:#e02b41
}
.order-address .order-address-triangle,.order-address .order-address-triangle:after {
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent
}
.order-address {
	position:relative;
	padding:0 40px 10px;
	margin:10px 0;
	background-color:#FFF
}
.order-address .order-address-triangle {
	position:relative;
	border-top:6px solid #999;
	-webkit-transition:border-color .8s;
	transition:border-color .8s
}
.order-address .order-address-triangle:after {
	content:'';
	position:absolute;
	top:-8px;
	left:-8px;
	border-top:6px solid #fff
}
.order-address .order-address-title {
	padding:20px 0;
	text-indent:10px;
	font-size:18px;
	font-weight:bolder;
	border-bottom:1px solid #EFEFEF
}
.order-address .order-address-title-tips {
	display:none;
	vertical-align:middle;
	font-size:12px;
	margin-left:20px;
	background-color:#e6f9fe;
	border:1px solid #00c3f5;
	padding:5px 10px;
	color:#00c3f5;
	text-indent:0;
	font-weight:400
}
.order-address .order-address-title-tips .order-address-tips-icon {
	display:inline-block;
	font-style:normal;
	text-align:center;
	line-height:14px;
	border-radius:100%;
	background-color:#00c3f5;
	width:14px;
	height:14px;
	margin-right:5px;
	color:#fff
}
.order-address .order-address-checkbox.checked .order-address-checkbox-checked,.order-address .order-address-checkbox.disabled:hover .order-address-checkbox-tips {
	display:block
}
.order-address .order-address-checkbox,.order-address .order-address-checkbox.disabled:hover {
	padding:1px 16px;
	border:1px solid #EFEFEF
}
.order-address .order-address-title-tips .order-address-tips-icon:after {
	content:'!'
}
.order-address .order-address-list {
	margin-top:30px;
	overflow:hidden;
	height:174px;
	-webkit-transition:height .8s;
	transition:height .8s
}
.order-address .order-address-checkbox {
	float:left;
	position:relative;
	width:275px;
	height:144px;
	cursor:pointer;
	margin:0 0 30px 12px;
	-webkit-transition:border-color .8s;
	transition:border-color .8s
}
.order-address .order-address-checkbox .order-address-checkbox-delete,.order-address .order-address-checkbox .order-address-checkbox-edit {
	margin-right:10px;
	float:right
}
.order-address .order-address-checkbox.disabled {
	background-color:#f5f5f5
}
.order-address .order-address-checkbox.checked,.order-address .order-address-checkbox:hover {
	padding:0 15px;
	border:2px solid #00c3f5
}
.order-address .order-address-checkbox:hover .order-address-checkbox-ctrl {
	opacity:1;
	filter:alpha(opacity=100)
}
.order-address .order-address-checkbox:hover .order-address-add-icon {
	background-color:#00c3f5
}
.order-address .order-address-checkbox:hover .order-address-add-text {
	color:#00c3f5
}
.order-address .order-address-checkbox .order-address-checkbox-checked {
	display:none;
	position:absolute;
	overflow:hidden;
	right:0;
	bottom:0;
	width:30px;
	height:30px
}
.order-address .order-address-checkbox .order-address-checkbox-checked:before {
	position:absolute;
	right:0;
	top:0;
	content:"";
	width:0;
	height:0;
	border-top:30px solid transparent;
	border-right:30px solid #00c3f5;
	border-bottom:-10px solid transparent
}
.order-address .order-address-checkbox .order-address-checkbox-checked:after {
	position:absolute;
	width:20px;
	height:20px;
	right:0;
	bottom:0;
	background-position:center;
	background-repeat:no-repeat;
	content:"";
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAAJFBMVEUAAAD6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fl911MYAAAAC3RSTlMAcmL5TYuwloNhPwGhwdUAAAA1SURBVAjXYwADZQcwxbRbgIELSGtvZGCQDgBzGZy3grkMLNZBIC5QYPdGsGLO3QUQzW0gAgBJ7gno+zgkXwAAAABJRU5ErkJggg==)
}
.order-address .order-address-checkbox .order-address-checkbox-top {
	font-size:12px;
	padding-top:15px;
	height:40px;
	border-bottom:1px solid #EFEFEF;
	font-weight:bolder
}
.order-address .order-address-checkbox .order-address-checkbox-top .order-address-checkbox-name {
	float:left;
	width:125px;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis
}
.order-address .order-address-checkbox .order-address-checkbox-top .order-address-checkbox-phone {
	float:right
}
.order-address .order-address-checkbox .order-address-checkbox-content {
	padding-top:10px;
	word-break:break-all;
	word-wrap:break-word;
	font-size:12px;
	max-height:70px;
	overflow:hidden;
	color:#515151
}
.order-address .order-address-checkbox .order-address-checkbox-ctrl {
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	bottom:-20px;
	left:0;
	width:100%;
	height:20px;
	font-size:14px;
	padding-top:5px;
	color:#00c3f5
}
.order-address .order-address-checkbox .order-address-checkbox-delete:after {
	content:"\5220\9664"
}
.order-address .order-address-checkbox .order-address-checkbox-edit:after {
	content:"\4FEE\6539"
}
.order-address .order-address-checkbox .order-address-checkbox-tips {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(0,0,0,.7);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#AD000000,endColorstr=#AD000000);
	color:#fff;
	font-size:14px;
	padding:28px;
	line-height:20px
}
.order-address .order-address-checkbox .order-address-checkbox-row {
	text-align:center;
	margin-top:10px
}
.order-address .order-address-checkbox .order-address-checkbox-perfect:after {
	display:inline-block;
	vertical-align:middle;
	background-color:#00c3f5;
	text-align:center;
	line-height:26px;
	width:78px;
	height:26px;
	color:#fff;
	cursor:pointer;
	content:"\7ACB\5373\5B8C\5584";
	border-radius:4px;
	font-style:normal
}
.order-address .order-address-checkbox .order-address-add-icon {
	position:relative;
	margin-left:107px;
	margin-top:50px;
	width:30px;
	height:30px;
	border-radius:100%;
	background-color:#BDBDBD;
	-webkit-transition:background-color .8s;
	transition:background-color .8s
}
.order-address .order-address-checkbox .order-address-add-icon:before {
	position:absolute;
	content:'';
	left:7px;
	top:13px;
	width:16px;
	height:4px;
	background-color:#fff
}
.order-address .order-address-checkbox .order-address-add-icon:after {
	position:absolute;
	content:'';
	left:13px;
	top:7px;
	width:4px;
	height:16px;
	background-color:#fff
}
.order-address .order-address-checkbox .order-address-add-text {
	margin-top:8px;
	font-size:12px;
	color:#999;
	text-align:center;
	-webkit-transition:color .8s;
	transition:color .8s
}
.order-address .order-address-bottom {
	text-align:center
}
.order-address .order-address-more {
	display:none;
	position:relative;
	font-size:12px;
	color:#999;
	-webkit-transition:color .8s;
	transition:color .8s;
	cursor:pointer
}
.order-address .order-address-more:hover {
	color:#00c3f5
}
.order-address .order-address-more:hover .order-address-triangle {
	border-top-color:#00c3f5
}
.order-address .order-address-more .order-address-triangle {
	top:10px
}
.address-adder {
	width:760px;
	margin-left:-380px
}
.address-adder .mz-dialog-content {
	width:700px
}
.address-adder .address-adder-content {
	padding-left:40px
}
.address-adder .address-adder-row {
	line-height:36px;
	margin-bottom:24px
}
.address-adder .address-adder-title {
	float:left;
	min-width:77px;
	margin-right:10px;
	color:#666
}
.address-adder .mz-input-warp {
	float:left
}
.address-adder .address-adder-must {
	color:#00c3f5
}
.address-adder .address-adder-name {
	width:158px;
	margin-right:30px
}
.address-adder .mz-selectmenu {
	width:103px
}
.address-adder .mz-address .mz-address-other {
	position:absolute;
	bottom:-60px;
	left:0;
	width:490px
}
.address-adder .address-adder-detail {
	width:490px
}
.address-adder .address-adder-other {
	display:none
}
.mz-address .mz-selectmenu {
	margin-right:10px
}
.mz-address .mz-address-other {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:85px;
	height:35px
}
.mz-address .mz-address-input {
	width:100%;
	height:100%
}
.mz-downmenu {
	position:absolute;
	z-index:9999;
	max-height:200px;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid #e3e4e4;
	border-top:none;
	display:none;
	background:#fff
}
.mz-selectmenu,.order-discount,.order-product .order-product-remark {
	overflow:hidden
}
.mz-downmenu .mz-downmenu-list {
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
	border-bottom:1px solid #e3e4e4
}
.mz-downmenu .mz-downmenu-item {
	margin:0;
	height:30px;
	word-break:nowrap;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:left;
	font-size:12px;
	text-indent:5px;
	line-height:30px;
	cursor:pointer
}
.mz-downmenu .mz-downmenu-item:hover {
	background:#e3e4e4
}
.mz-selectmenu {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:85px;
	height:35px;
	border:1px solid #e3e4e4;
	line-height:35px;
	padding:0 10px 0 5px;
	cursor:pointer
}
.mz-selectmenu:after {
	position:absolute;
	content:" ";
	background:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAVUlEQVQImW3JIQoAIRQAUW/uAcSkiEFMNo/xsdkFr/KR2bBpWSe+MeYSYK+41uKHYwxaa3xw702MkZzzO1TVigilFFJK1Fox5xw758R7j3OOEAK9dx6bOUG5mOo+QwAAAABJRU5ErkJggg==) no-repeat;
	width:6px;
	height:6px;
	right:3px;
	bottom:3px
}
.mz-selectmenu .mz-downmenu-input {
	width:100%;
	height:100%;
	border:none;
	outline:0
}
.order-product {
	padding:0 40px 30px;
	background-color:#FFF
}
.order-product .order-product-module {
	margin-bottom:30px
}
.order-product .order-product-module:last-child {
	margin-bottom:0
}
.order-product .order-product-title {
	font-size:18px;
	text-indent:10px;
	padding:25px 0;
	font-weight:bolder
}
.order-product .order-product-table-name {
	width:464px;
	text-align:left
}
.order-product .order-product-table-price {
	text-align:center;
	width:204px
}
.order-product .order-product-table-price .order-product-price {
	margin-left:30px
}
.order-product .order-product-table-price .order-product-price.cancel {
	margin-left:0
}
.order-product .order-product-table-num {
	text-align:center;
	width:140px
}
.order-product .order-product-table-total {
	text-align:center;
	width:160px
}
.order-product .order-product-table-express {
	text-align:center;
	width:192px;
	color:#666;
	line-height:25px
}
.order-product table {
	border:1px solid #EFEFEF
}
.order-product thead {
	font-size:18px;
	border-bottom:1px solid #EFEFEF
}
.order-product thead tr {
	height:62px
}
.order-product tbody tr {
	height:150px;
	border-top:1px solid #EFEFEF
}
.order-product tbody .order-product-table-express {
	border-left:1px solid #EFEFEF
}
.order-product tbody .order-product-table-price {
	text-align:left
}
.order-product tfoot {
	border-top:1px solid #EFEFEF;
	color:#666;
	vertical-align:top
}
.order-product tfoot tr {
	height:108px;
	background-color:#f5f5f5
}
.order-product .order-product-table-child {
	border-top:0;
	height:120px
}
.order-product .order-product-table-child.first {
	border-top:1px dashed #EFEFEF
}
.order-product .order-product-table-child td:first-child {
	position:relative
}
.order-product .order-product-table-child td:first-child:after,.order-product .order-product-table-child td:first-child:before {
	position:absolute;
	display:block;
	content:"";
	top:-1px;
	height:2px;
	width:40px;
	background-color:#fff
}
.order-product .order-product-table-child td:first-child:before {
	left:0
}
.order-product .order-product-table-child td:first-child:after {
	right:0
}
.order-product .order-product-table-child .order-product-image {
	width:80px;
	height:80px;
	margin:0 40px
}
.order-product .order-product-group {
	color:#00c3f5
}
.order-product .order-product-image {
	vertical-align:middle;
	height:102px;
	width:102px;
	margin-left:18px;
	margin-right:10px
}
.order-product .order-product-name {
	display:inline-block;
	vertical-align:middle;
	font-size:16px
}
.order-product .order-product-link {
	color:#666;
	line-height:22px
}
.order-product .order-product-price {
	font-weight:bolder;
	font-size:16px
}
.order-product .order-product-price:before {
	content:"\FFE5";
	margin-right:2px
}
.order-product .order-product-price.sub:before {
	content:'-\FFE5'
}
.order-product .order-product-price.red {
	color:#e02b41
}
.order-product .order-product-price.cancel {
	font-size:14px;
	color:#b6b6b6;
	text-decoration:line-through
}
.order-product .order-product-price.cancel:before {
	margin-right:0
}
.order-product .order-product-discount {
	position:relative;
	width:200px;
	height:32px;
	margin-top:2px;
	font-size:12px;
	cursor:pointer
}
.order-product .order-product-discount.more:hover .order-product-discount-title {
	border-bottom:0;
	border-radius:4px 4px 0 0
}
.order-product .order-product-discount.more:hover .order-product-discount-title .order-product-discount-triangle:after {
	border-top:0;
	border-bottom:4px solid #e02b41
}
.order-product .order-product-discount.more:hover .order-product-discount-downmenu {
	display:block
}
.order-product .order-product-discount .order-product-price {
	font-size:12px;
	margin-left:0
}
.order-product .order-product-discount .order-product-discount-title {
	position:absolute;
	left:30px;
	top:0;
	display:inline-block;
	padding:6px;
	background-color:#ffedf0;
	border-radius:4px;
	border:1px solid #e02b41;
	z-index:2;
	color:#e02b41
}
.order-product .order-product-discount .order-product-discount-triangle {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:8px;
	margin-left:6px
}
.order-product .order-product-discount .order-product-discount-triangle:after {
	position:absolute;
	left:0;
	top:-3px;
	content:'';
	width:0;
	height:0;
	-webkit-transition:all .3s;
	transition:all .3s;
	border-left:4px solid transparent;
	border-top:4px solid #e02b41;
	border-bottom:0;
	border-right:4px solid transparent
}
.order-product .order-product-discount .order-product-discount-downmenu {
	display:none;
	position:absolute;
	left:30px;
	top:28px;
	width:auto;
	background-color:#ffedf0;
	border-radius:0 4px 4px;
	border:1px solid #e02b41;
	z-index:1;
	padding-top:8px;
	color:#666;
	text-align:left
}
.order-product .order-product-discount .order-product-discount-downmenu .order-product-discount-item {
	padding:0 6px 6px
}
.order-product .order-product-info {
	float:left;
	margin:15px 0 0 25px;
	font-size:12px
}
.order-product .order-product-supplier {
	display:none;
	position:relative;
	font-weight:400;
	color:#666;
	font-size:12px;
	margin-left:10px;
	cursor:pointer
}
.order-product .order-product-supplier:hover .order-product-supplier-tips {
	display:inline-block
}
.order-product .order-product-supplier .order-product-supplier-name {
	color:#00c3f5
}
.order-product .order-product-supplier .order-product-supplier-tips {
	display:none;
	position:absolute;
	vertical-align:middle;
	padding:4px 6px;
	background-color:#eee;
	border:1px solid #EFEFEF;
	margin-left:10px;
	margin-top:-5px
}
.order-product .order-product-supplier .order-product-supplier-tips:after,.order-product .order-product-supplier .order-product-supplier-tips:before {
	position:absolute;
	width:0;
	height:0;
	top:4px;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	content:''
}
.order-product .order-product-supplier .order-product-supplier-tips:before {
	left:-8px;
	border-right:8px solid #EFEFEF
}
.order-product .order-product-supplier .order-product-supplier-tips:after {
	left:-6px;
	border-right:8px solid #eee
}
.order-product .order-product-arrival-icon {
	display:inline-block;
	vertical-align:text-bottom;
	position:relative;
	width:20px;
	height:20px;
	border-radius:4px;
	background-color:#00c3f5;
	margin-right:5px
}
.order-product .order-product-arrival-icon:before {
	position:absolute;
	content:'';
	left:0;
	top:0;
	width:20px;
	height:20px;
	z-index:2;
	text-indent:15px;
	line-height:18px;
	color:#fff;
	font-size:14px;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASCAMAAABYd88+AAAAS1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////+DmQsHAAAAGHRSTlMAFbliDsKnlGrv6NzTekYtIQbMsVtUTDxgkIuYAAAAYElEQVQIHQXBhYECQQAAsew5Li9M/5WSAPCaARjrAeBxaQDcT00ARzUD9qoFLFPVBp7Xqv7gc66q07r/ut+2a1WdH+Cn6vIES9V7AHM1LYCpthdg1A7g6AbAOgMw/gF8AdrkBi1XOR1dAAAAAElFTkSuQmCC)
}
.order-product .order-product-invoice {
	margin-bottom:10px;
	height:21px
}
.order-product .order-product-invoice .order-product-invoice-label {
	cursor:pointer
}
.order-product .order-product-invoice .order-product-invoice-label:first-child {
	margin-right:30px;
	margin-left:10px
}
.order-product .order-product-invoice .order-product-invoice-input {
	width:248px;
	height:25px;
	border:1px solid #EFEFEF;
	outline:0;
	margin-top:-5px;
	padding:5px
}
.order-product .order-product-invoice .order-product-invoice-radio {
	margin-right:5px
}
.order-product .order-product-invoice .order-product-invoice-type {
	float:left;
	margin-right:30px
}
.order-product .order-product-invoice .order-product-invoice-icon {
	display:inline-block;
	margin-left:5px;
	width:14px;
	height:14px;
	border-radius:100%;
	background-color:#00c3f5;
	line-height:14px;
	text-align:center;
	color:#fff;
	cursor:pointer
}
.order-product .order-product-invoice .order-product-invoice-icon:after {
	content:"?"
}
.order-product .order-product-invoice .order-product-invoice-title {
	float:left
}
.order-product .order-product-invoice .order-product-invoice-title.paper {
	display:none
}
.order-product .order-product-remark .order-product-remark-title {
	display:inline-block;
	vertical-align:top;
	margin-top:5px
}
.order-product .order-product-remark .order-product-remark-input {
	border:1px solid #EFEFEF;
	margin-left:5px;
	width:552px;
	height:48px;
	background-color:#fff;
	resize:none;
	outline:0;
	padding:5px
}
.order-product .order-product-countdown {
	font-size:12px;
	color:#e02b41;
	margin-left:30px
}
.einvoice-detail .einvoice-detail-link,.order-discount .order-discount-item-header:hover .order-discount-item-title,.order-discount .order-discount-item.open .order-discount-item-title {
	color:#00c3f5
}
.order-product .order-product-total {
	float:right;
	margin:40px 20px 0 0;
	font-size:16px;
	font-weight:bolder
}
.order-product .order-product-total .order-product-price {
	font-size:22px
}
.einvoice-detail .q:before {
	content:'Q\FF1A'
}
.einvoice-detail .a {
	margin-bottom:30px
}
.einvoice-detail .a:before {
	content:'A\FF1A'
}
.order-discount {
	position:relative;
	padding:0 40px;
	margin-top:10px;
	background-color:#FFF
}
.order-discount .order-discount-header {
	font-size:18px;
	text-indent:10px;
	padding:25px 0;
	font-weight:bolder
}
.order-discount .order-discount-list {
	margin-bottom:30px;
	border:1px solid #e4e4e4;
	border-bottom:0
}
.order-discount .order-discount-item {
	background-color:#fff
}
.order-discount .order-discount-item.open .order-discount-item-title:before {
	content:'-'
}
.order-discount .order-discount-item.open .order-discount-item-content {
	display:block
}
.order-discount .order-discount-item-header {
	height:48px;
	line-height:48px;
	cursor:pointer;
	background-color:#f5f5f5;
	border-bottom:1px solid #e4e4e4
}
.order-discount .order-discount-item-title {
	float:left;
	margin-left:12px
}
.order-discount .order-discount-item-title:before {
	display:inline-block;
	content:'+';
	width:12px
}
.order-discount .order-discount-item-right {
	float:right;
	margin-right:10px
}
.order-discount .order-discount-item-price {
	color:#e02b41
}
.order-discount .order-discount-item-price:before {
	content:'-\FFE5'
}
.order-discount .order-discount-item-content {
	position:relative;
	display:none;
	border-bottom:1px solid #e4e4e4
}
.order-discount-content-mask {
	position:fixed;
	z-index:999;
	left:0;
	top:0;
	width:100%;
	height:100%
}
.order-discount-content-mask .order-discount-content-tips {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	margin-left:-135px;
	width:270px;
	text-align:center;
	padding:20px 10px;
	color:#fff;
	background-color:rgba(0,0,0,.6);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#98000000,endColorstr=#98000000);
	border-radius:4px
}
.order-discount-content-mask .order-discount-content-tips .order-discount-content-tips-header {
	display:inline-block;
	margin-bottom:10px;
	font-size:18px
}
.order-discount-content-mask .order-discount-content-tips .order-discount-content-tips-header:before {
	display:inline-block;
	content:'!';
	width:20px;
	height:20px;
	border:1px solid #fff;
	border-radius:100%;
	margin-right:5px;
	font-size:12px;
	line-height:18px;
	text-align:center
}
.order-discount-content-mask .order-discount-content-tips .order-discount-content-tips-content {
	font-size:12px;
	word-break:break-all
}
.order-discount-coupon {
	padding:60px 55px 30px
}
.order-discount-coupon .order-discount-coupon-item {
	float:left;
	margin-right:20px;
	margin-bottom:30px
}
.order-discount-coupon .order-discount-coupon-item:after {
	position:absolute
}
.order-discount-coupon .order-discount-coupon-item.checked .order-discount-coupon-checkbox {
	background-color:#00c3f5;
	border-color:#00c3f5
}
.order-discount-coupon .order-discount-coupon-item.checked .order-discount-coupon-checkbox:after {
	display:block
}
.order-discount-coupon .order-discount-coupon-tick {
	position:relative;
	width:241px;
	height:106px;
	border:1px solid #EFEFEF;
	border-radius:4px;
	padding:6px 20px 8px 12px;
	cursor:pointer
}
.order-discount-coupon .order-discount-coupon-tick:before {
	position:absolute;
	background-color:#f0415f;
	right:-1px;
	top:-1px;
	content:'';
	height:106px;
	width:11px;
	border-radius:0 4px 4px 0
}
.order-discount-coupon .order-discount-coupon-tick:after {
	position:absolute;
	right:-1px;
	top:-1px;
	content:'';
	height:106px;
	width:11px;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAABqCAMAAABODRsfAAAAV1BMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////c7HqBAAAAHXRSTlP9AhII9uyxOy7lypZ+Tt3Uw6OOhnFjKB7Qvl1WRaywy/QAAACPSURBVBgZBcGFYQRBAAAhZk/e3WL91xkwlcqpuEy4AQBufOWvVKbiFX4xA+CMt/0nlco6wgcXAMCLY0apbIprOAAAVnaTn1KpzKdwwgyAHbbO21QqhxHzwB4A8OSeUSrbYg0PAMCVZThOqVR277DBAoAZG8smlcpximXgGwDwYJ1sS2UU9/AEAOwxHEYq1T9AkwOZSgycHwAAAABJRU5ErkJggg==);
	background-repeat:no-repeat
}
.order-discount-coupon .order-discount-coupon-tick.single:before {
	background-color:#f09646
}
.order-discount-coupon .order-discount-coupon-tick.single .order-discount-coupon-top-left {
	color:#f09646
}
.order-discount-coupon .order-discount-coupon-tick.single .order-discount-coupon-range-link {
	display:none
}
.order-discount-coupon .order-discount-coupon-tick.single .order-discount-coupon-range-text {
	width:200px
}
.order-discount-coupon .order-discount-coupon-desc,.order-discount-coupon .order-discount-coupon-title {
	width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.order-discount-coupon .order-discount-coupon-top-left {
	float:left;
	color:#f0415f;
	text-align:center;
	margin-left:-6px
}
.order-discount-coupon .order-discount-coupon-price {
	font-size:26px
}
.order-discount-coupon .order-discount-coupon-price:before {
	font-size:12px;
	content:'\FFE5';
	vertical-align:super
}
.order-discount-coupon .order-discount-coupon-type {
	font-size:12px;
	margin-top:-5px
}
.order-discount-coupon .order-discount-coupon-type:before {
	content:'\FF08'
}
.order-discount-coupon .order-discount-coupon-type:after {
	content:'\FF09'
}
.order-discount-coupon .order-discount-coupon-top-right {
	float:left;
	font-size:12px;
	margin-left:10px;
	color:#909090;
	max-width:128px
}
.order-discount-coupon .order-discount-coupon-title {
	color:#666;
	margin:8px 0 5px;
	font-weight:bolder
}
.order-discount-coupon .order-discount-coupon-bottom {
	border-top:1px solid #EFEFEF;
	color:#909090;
	font-size:12px;
	margin-top:5px
}
.order-discount-coupon .order-discount-coupon-time {
	font-size:10px;
	margin-top:5px
}
.order-discount-coupon .order-discount-coupon-range-text {
	float:left;
	width:140px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.order-discount-coupon .order-discount-coupon-range-link {
	float:right;
	color:#666
}
.order-discount-coupon .order-discount-coupon-footer {
	margin-top:10px;
	text-align:center
}
.order-discount-coupon .order-discount-coupon-checkbox {
	position:relative;
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:100%;
	border:1px solid #EFEFEF;
	cursor:pointer
}
.order-discount-coupon .order-discount-coupon-checkbox:after {
	display:none;
	position:absolute;
	content:'';
	left:3px;
	top:5px;
	width:12px;
	height:8px;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAAJFBMVEUAAAD6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fl911MYAAAAC3RSTlMAcmL5TYuwloNhPwGhwdUAAAA1SURBVAjXYwADZQcwxbRbgIELSGtvZGCQDgBzGZy3grkMLNZBIC5QYPdGsGLO3QUQzW0gAgBJ7gno+zgkXwAAAABJRU5ErkJggg==);
	background-repeat:no-repeat
}
.order-discount-red {
	padding:60px 0 40px 55px
}
.order-discount-red .order-discount-red-item {
	float:left;
	margin-bottom:30px;
	margin-right:20px
}
.order-discount-red .order-discount-red-item.checked .order-discount-red-checkbox {
	background-color:#00c3f5;
	border-color:#00c3f5
}
.order-discount-red .order-discount-red-item.checked .order-discount-red-checkbox:after {
	display:block
}
.order-discount-red .order-discount-red-tick {
	position:relative;
	width:242px;
	height:106px;
	border-radius:4px;
	border:1px solid #ee435f;
	padding:15px 24px 0 8px
}
.order-discount-red .order-discount-red-tick:after {
	position:absolute;
	content:'';
	right:-1px;
	top:-1px;
	width:18px;
	height:106px;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABqCAMAAACGYfHJAAAASFBMVEUAAADuQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/SZkwaAAAAF3RSTlMA7yHBmm7grZBbEvTqiHNI1cmlPC0ZgdAcmYwAAADZSURBVDjLndU5coRAEEXBXmigGQY0i1T3v6lCWITSmeCbGeWU9dJp37eIPKfzhvjb/SQljmWOIs5H0AwtN2gLaIT2gCZoCahJFSoBNalCS0Bdekor9A6oSZO0QiWgLs1SlTJUAtqlTRqkKo1SQEV6SV1q0l0apEmq0kP6kkYpX6W4SvkqjR/9+JCqNEmDdJea1KWXVKQU0ihVaZA2aZeKlLJUpVnqUpHSKk1Sk95SWqWn1KVFSlVqUpFSlZq0SGmSdsgOWSubZvnsoxX1zCLnf90+In3ez5HyX72eg9ZcYB57AAAAAElFTkSuQmCC)
}
.order-discount-red .order-discount-red-top {
	height:30px;
	margin-bottom:20px
}
.order-discount-red .order-discount-red-price {
	float:left;
	font-size:30px;
	color:#e02b41;
	margin-right:8px;
	vertical-align:bottom
}
.order-discount-red .order-discount-red-price:before {
	font-size:12px;
	content:'\FFE5';
	vertical-align:super
}
.order-discount-red .order-discount-red-name {
	float:left;
	color:#666;
	margin-top:15px;
	max-width:112px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.order-discount-red .order-discount-red-time {
	text-align:center;
	color:#909090;
	padding-top:10px;
	font-size:10px;
	border-top:1px solid #EFEFEF
}
.order-discount-red .order-discount-red-footer {
	margin-top:10px;
	text-align:center
}
.order-discount-red .order-discount-red-checkbox {
	position:relative;
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:100%;
	border:1px solid #EFEFEF;
	cursor:pointer
}
.order-discount-red .order-discount-red-checkbox:after {
	display:none;
	position:absolute;
	content:'';
	left:3px;
	top:5px;
	width:12px;
	height:8px;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAAJFBMVEUAAAD6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fl911MYAAAAC3RSTlMAcmL5TYuwloNhPwGhwdUAAAA1SURBVAjXYwADZQcwxbRbgIELSGtvZGCQDgBzGZy3grkMLNZBIC5QYPdGsGLO3QUQzW0gAgBJ7gno+zgkXwAAAABJRU5ErkJggg==);
	background-repeat:no-repeat
}
.order-discount-repo {
	padding:25px 0 10px 35px;
	margin-top:10px
}
.order-discount-repo .order-discount-repo-tips {
	color:#e02b41;
	margin-left:10px
}
.order-discount-repo .order-discout-repo-text {
	margin-bottom:30px
}
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-num {
	margin:0 5px;
	color:#00c3f5;
	font-weight:bolder
}
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-price {
	margin-left:5px;
	color:#e02b41;
	font-weight:bolder
}
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-price:before {
	content:"\FFE5"
}
.order-discount-repo .order-discount-repo-checkbox {
	display:inline-block;
	vertical-align:middle;
	margin-right:35px;
	margin-bottom:30px;
	position:relative;
	background-color:#00c3f5;
	width:240px;
	height:90px;
	color:#fff;
	cursor:pointer;
	-webkit-transition:all .5s;
	transition:all .5s
}
.order-discount-repo .order-discount-repo-checkbox.checked,.order-discount-repo .order-discount-repo-checkbox:hover {
	background-color:#00ade6
}
.order-discount-repo .order-discount-repo-checkbox.checked .order-discount-repo-checkbox-checked {
	display:block
}
.order-discount-repo .order-discount-repo-checkbox:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABaCAMAAACxDCsoAAAAP1BMVEUAAAD////////////////////////////////////////////////////////////////////////////y8vKAfGvJAAAAE3RSTlMA50nkUeDbVAb68KyJW8K9g6aUZxO/CgAAAUFJREFUeNrtnMluxCAQRAvbgPEyG/n/b40UC2UZ58DMqavr3fvwZKtLgFSojYIuYptLMMBSG9/CEV1c2twFBkgnwiu6mNrcBAOsJ8I7+rgdYzdYYH8WHmd0Ml2X5Wri+wLz+CScQU3+K7yBnO238AP0PH4IJ/L/+SCnL+ES132GC+Z9jQVC/M8HnCFhC4TBk/AwogZPwqH6Ex4HOGIIEEIYXlrKYXZh5TC78BD8LS0hyAi+Dg/KYX5h5TC1sMfTkoTZUQ5TE6o/YeUwtbBiScJ8wrqXpkY5zI7eh9mXloQdCCuHqYV1L82OclgI20tLOcwurBxmF9a9tBDm0fsw9dJSDrMLK4clLGFhjSXds5dai3yP5SguMVIh9B7TUVzipIoH2HyXD/mrl/JXIOauIs5fCSB1zWM8ES4vNkVGGKDUxifCHSKBrhL1swAAAABJRU5ErkJggg==)
}
.order-discount-repo .order-discount-repo-checkbox-title {
	position:absolute;
	font-size:16px;
	top:13px;
	left:23px
}
.order-discount-repo .order-discount-repo-checkbox-title:after {
	display:block;
	width:20px;
	word-break:break-all;
	word-wrap:break-word;
	white-space:normal;
	overflow:hidden;
	content:'\56DE\8D2D\5238'
}
.order-discount-repo .order-discount-repo-checkbox-price {
	position:absolute;
	top:20px;
	left:78px;
	font-size:26px
}
.order-discount-repo .order-discount-repo-checkbox-price:before {
	content:"\FFE5"
}
.order-discount-repo .order-discount-repo-checkbox-sn {
	position:absolute;
	left:82px;
	top:55px;
	font-size:12px
}
.order-discount-repo .order-discount-repo-checkbox-checked {
	display:none;
	position:absolute;
	right:-10px;
	top:-10px;
	width:24px;
	height:24px;
	background-color:#fff;
	border:2px solid #00ade6;
	border-radius:100%;
	z-index:2
}
.order-discount-repo .order-discount-repo-checkbox-checked:after {
	position:absolute;
	display:block;
	content:"";
	left:3px;
	top:7px;
	width:14px;
	height:9px;
	background-image:url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAMAAAA1k+1bAAAAUVBMVEUAAAAAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYP51BXAAAAGnRSTlMABBMC6tD69vPEwLWnHRgPAe3i2rmIeWcyIxehTU4AAABISURBVAjXY0AC/KxiSDwmFikuBglxZjiPlZFBSIobzOfjkOJkZGDgZZcSgVBcjHBhSTYpbpgmQSlhNikeZiQjpXgEkC0UhfIAxNoDHHhvOHEAAAAASUVORK5CYII=)
}
.order-discount-repo .order-discount-repo-enter-title {
	display:inline-block;
	vertical-align:middle;
	margin:40px 0 35px;
	font-size:14px;
	color:#00c3f5;
	cursor:pointer
}
.order-discount-repo .order-discount-repo-enter-content {
	position:relative;
	display:none
}
.order-discount-repo .order-discount-repo-enter-content .order-discount-repo-enter-row {
	margin-bottom:50px
}
.order-discount-repo .order-discount-repo-enter-content .order-discount-repo-enter-input {
	margin:0 22px;
	padding:10px;
	width:230px;
	height:36px;
	border:1px solid #EFEFEF;
	background-color:#fff;
	outline:0
}
